<!DOCTYPE html>
<head>
    <meta name="description" content="우리 센터 소개 및 활동 정보">
    <meta name="keywords" content="복지센터, 봉사활동, 지역사회">
    <meta name="author" content="우리 센터">
</head>


<div class="gallery">
    <img src="/static/images/image1.jpg" alt="활동 사진">
    <img src="/static/images/image2.jpg" alt="활동 사진">
    <img src="/static/images/image3.jpg" alt="활동 사진">
</div>

<script>
    const images = document.querySelectorAll('.gallery img');
    images.forEach(img => {
        img.addEventListener('click', () => {
            window.open(img.src, '_blank');
        });
    });
</script>
</html>